<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249968013432-nedvdgouvbspjvgfkn1vrnddm3e8p8l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249968013432-nedvdgouvbspjvgfkn1vrnddm3e8p8l6</string>
	<key>API_KEY</key>
	<string>AIzaSyAy0Pn_QwMqS7apd1KqIkYmPGozV98xO0E</string>
	<key>GCM_SENDER_ID</key>
	<string>249968013432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inunyTest</string>
	<key>PROJECT_ID</key>
	<string>inuny-5541c</string>
	<key>STORAGE_BUCKET</key>
	<string>inuny-5541c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249968013432:ios:35686a68b756822641bd8d</string>
</dict>
</plist>